@CHARSET "UTF-8";
#headerWrap{
	width:1006px;
	height:38px;
	margin:0 auto;
	background:white;
	padding:15px 12px 12px 12px;
	z-index: 9999;
}
#main_logo{
	display:inline;
	width:200px;
	float:left;
}
#main_logo>a{
	width:100%;
}
#main_logo>a>img{
	width:100%;
}
#main_menu{
	display:inline;
	width:700px;
	float:right;
	overflow: hidden;
}
.nav{
	width:100%;
	line-height: 38px;
}
.nav>li{
	width:120px;
	margin:0 55px;
	display:inline;
	text-align: center;
	float:left;
}
.nav>li>a{
	width:120px;
	font-weight:500;
	font-size: 1.3em;
	text-align: center;
}
.nav>li>.dropdown_menu{
	width:120px;
	background:white;
	display:none;
	padding-top:10px;
}
.nav>li>.dropdown_menu a{
	font-size:1.1em;
}
.nav>li:hover>a{
	color:#00B4AE;
	font-weight:bold;
}
.nav>li:hover>.dropdown_menu{
	display:block;
}
.dropdown_menu>li:hover>a{
	color:#00B4AE;
	font-weight:bold;
}
