@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
 *{
	margin:0;
	padding:0;
 }
@media only screen and (min-width:1100px){

	header{
		width:100%;
		height:108px;
		position: absolute;
		top: 0;
		left:0; 
		right:0;
		bottom:0;
		margin:0 auto;
		z-index: 99;
	}
	section{
		width:100%;
		margin-top:54px;
		margin-bottom:100px;
	}
	.mainBanner{
		width:100%;
	}
	.mainBanner div img{
		width:100%;
	}
	.contentWrap{
		width:1200px;
		margin:0 auto;
		position: relative;
		top:-50px;
		margin-bottom:115px;
	}
	.contentWrap .content1Wrap{ 
		width:100%; 
		text-align: center;
		margin-bottom:50px;
		overflow: hidden;
	}
	.mainClinic{
		width:380px;
		height:350px;
		float:left;
		margin-right:9px;
		background: #ffffff;
		position: relative;
	} 
	.mainClinic:last-child{
		margin:0; 
	}
	.mainClinic .clinicIcon{
		margin-top:40px;
	}
	.mainClinic:last-child .clinicIcon{
		margin-top:38px;
	}
	.mainClinic hr{
		width:20px;
		margin:10px auto;
		margin-bottom:20px;
		border:0;
		border-top:2px solid #000000;
	}
	.mainClinic:last-child hr{
		margin-top:5px;
	}
	.mainClinic h1{
		font-size:27px;
		margin-bottom:20px;
		font-family: 'Nanum Square';
		font-weight: bold;
	}
	.mainClinic p{
		font-size: 19px;
		letter-spacing: -1.5px;
		line-height: 35px;
		color:#666666;
	}
	.mainClinic>a{
		margin-top:50px;
	}
	.barogo{
		display: none;
	}
	.boldText{
		font-weight: bold;
		font-size:19px;
		color:#666666;
	}
	.contentWrap .content2Wrap{
		width:100%;
		overflow: hidden;
	}
	.contentWrap .content2Wrap .notice{
		width:586px;
		height:276px; 
		background:url("../images/noticeBg.png");
		float:left;
	}
	.notice .noticeLogo{
		float:left;
		margin-top:35px;
		margin-left:45px;
		margin-bottom:20px;
	}
	.notice .noticeTextDiv{
		float:left;
		margin-left:20px;
		margin-top:40px;
	}
	.notice .noticeTextDiv h1{
		font-size:25px;
		margin-bottom:8px;
		font-family: 'Nanum Square';
	}
	.notice .noticeTextDiv p{
		font-size:15px;
		color:#666666;
		font-family: 'Nanum Square';
		font-weight: 500;
	}
	.notice .noticeMoreBtn{
		float:right;
		margin-top:40px;
		margin-right:40px;
	}
	.notice hr{
		clear:both;
		width:510px; 
		margin:0 auto;
		border:0;
		border-top:1px solid #c2c2c3;
	}
	.notice table{
		width:87%;
		margin:0 auto;
		margin-top:25px;
	}
	.notice table tr td{
		padding-top:10px;
		color:#666666;
		font-size:15px;
		font-family: 'Nanum Square';
	}
	.notice table tr td a{
		font-family: 'Nanum Square';
		color:#666666;
		font-size:15px;
	}
	.notice table tr td:first-child{
		padding-left:20px;
	}
	.notice table tr td:first-child img{
		margin-right:15px;
		margin-top:8px;
		float:left;
	}
	.notice table tr td:last-child{
		text-align: right;
	}
	.contentWrap .content2Wrap .box{
		float:left;
		width:287px;
		height:278px;
		margin-left:20px;
		color:white;
		text-align: center;
	}
	.content2Wrap .box hr{
		width:13px;
		margin:13px auto;
		margin-top:25px;
		border:0;
		border-top:1px solid white;
	}
	.content2Wrap .box h1{
		font-weight: normal;
		font-size: 21px;
		font-family: 'Nanum Square';
		font-weight: 500;
	}
	#box1 p{
		color:#ec9631;
		font-size:26px;
		letter-spacing:2px;
		margin-top:5px;
	}
	#box1 ul{
		width:71%;
		margin:0 auto;
		text-align: left;
	}
	#box1 ul li:before{
		content:"- ";
	}
	#box1 ul li{
		font-size:17px;
		margin-top:13px;
		color:#c1c2cc;
		letter-spacing: -2px;
		line-height: 1.2;
		font-family: 'Nanum Square';
	}
	#box1 ul li .number{
		letter-spacing: 1px;
		font-size:17px;
	}
	#box1 ul li .smallText{ 
		font-size:16px;
	}
	#box2 ul{
		width:81%;
		margin:0 auto;
	}
	#box2 ul li{
		border-bottom:1px solid rgba(255,255,255,0.4);
		text-align: left;
		padding-bottom:18px;
		margin-top:17px;
		font-size:14px;
		font-family: 'Nanum Square';
	}
	#box2 ul li:first-child{
		margin-top:15px;
	}
	#box2 ul li img{
		width:24px;
		float:left;
		margin-right:15px;
	}
	#box2 ul li:first-child img{
		margin-top:5px;
	}
	.bottomBannerWrap{
		width:100%;
		height:453px;
		background: url("../images/bottomBannerBg.png");
	}
	.contentDiv{
		width:1200px;
		margin:0 auto;
	}
	.bottomBanner{
		width:802px;
		position: relative;
		top:-100px;
		float:left;
	}
	.bottomContent{
		float:right;
		margin-top:60px;
	}
	.bottomContent>h1{
		color:#00b4ae;
		font-size: 30px;
		margin-bottom:12px;
		font-family: 'Nanum Square';
	}
	.bottomContent>h2{
		margin-bottom:14px;
	}
	.bottomContent>h2>a{
		color:#666666;
		font-size:22px;
	}
	#bottomLine{
		border:0;
		border-top:1px solid #dcdcdc;
		margin-bottom:25px;
	}
	.bottomContentText{
		color:#919191;
		font-size:20px;
		letter-spacing: -1px;
		line-height: 30px;
	}
	
}

