<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antweb.mappers.NewsMapper">

	<select id="selectAll" resultType="NewsVO">
		select * from news order by bno desc
	</select>
	
	<select id="selectOne" resultType="NewsVO">
		select * from news where bno=#{bno}
	</select>
	
	<insert id="insert">
		insert into news values(0, #{title}, #{writer}, #{content}, #{regdate}, 0)
	</insert>
	
	<update id="update">
		update news set title=#{title}, writer=#{writer}, content=#{content} where bno=#{bno}
	</update>
	
	<update id="updateCnt">
		update news set cnt=cnt+1 where bno=#{bno}
	</update>
	
	<delete id="delete">
		delete from news where bno=#{bno}
	</delete>
	
	<select id="listSearch" resultType="NewsVO">
		select * from news <include refid="search"></include> order by bno desc, regdate desc limit #{pageStart},#{perPageNum}  
	</select>
	
	<sql id="search">
		<if test="searchType=='c'.toString()">
			where content like concat('%',#{keyword},'%')
		</if>
		<if test="searchType=='t'.toString()">
			where title like concat('%',#{keyword},'%') 
		</if>
		<if test="searchType=='r'.toString()">
			where regdate like concat('%',#{keyword},'%')
		</if>
	</sql>
	
	<select id="listSearchCount" resultType="int">
		select count(bno) from news <include refid="search"></include>
	</select>
	
</mapper>